<div class="page">
    <div class="page-main">
      <!-- Navbar-->
      <app-header></app-header>
  
      <app-nav [inputFromParent] = "inputText"></app-nav>
  
      <div class=" app-content my-3 my-md-5">
        <div class="side-app">
          <br/>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card" >
                    <div class="card-header">
                        <a routerLink="/etudiants"><i class="fas fa-arrow-left fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Dossiers de {{etudiant.compte.prenom}} {{etudiant.compte.nom}}  Master {{etudiant.classe}}
                    </div>
                
                <div class="container" align="left">
                    <a routerLink="/memoire" [queryParams]="{ idEtudiant: etudiant._id }" class="contenant"><img src="../../../../assets/icons/icons8-mac-folder-100.png"/>
                        <div class="texte_centrer"><br>Mémoires</div>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/pv" [queryParams]="{ idEtudiant: etudiant._id }" class="contenant"><img src="../../../../assets/icons/icons8-mac-folder-100.png"/>
                        <div class="texte_centrer"><br>PVs</div>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/rapport" [queryParams]="{ idEtudiant: etudiant._id }" class="contenant"><img src="../../../../assets/icons/icons8-mac-folder-100.png"/>
                        <div class="texte_centrer"><br>Rapports</div>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/autorisation" [queryParams]="{ idEtudiant: etudiant._id }" class="contenant"><img src="../../../../assets/icons/icons8-mac-folder-100.png"/>
                        <div class="texte_centrer"><br>Autorisations</div>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
             </div>
        <ng-container *ngIf="afficher==true">
            <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Sujet :</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{projet.sujet }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Description :</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{projet.description }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Etat :</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{projet.etat }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Encadreurs :</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <ng-container *ngFor="let encadreur of encadreurs">
                          {{encadreur.compte.prenom }}  {{encadreur.compte.nom }},
                        </ng-container>
                       
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Rapporteurs :</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <ng-container *ngFor="let rapporteur of rapporteurs">
                          {{rapporteur.compte.prenom }}  {{rapporteur.compte.nom }},
                        </ng-container>
                      </div>
                      <div class="row justify-content-center">
                        <div class="">
                          &nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/rapporteurs" class="btn btn-blue" [queryParams]="{idProjet : projet._id}">Modifier</a>
                        </div>
                      </div>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
        </ng-container>
        <ng-container *ngIf="afficher==false">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header justify-content-center">
                        PAS ENCORE DE PROJET
                    </div>
                </div>
               
            </div>
        </ng-container>
        <ng-container *ngIf="show==true">
          <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">NumJury :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{projet.jury.numJury }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Batiment :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{projet.jury.batiment }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Salle Soutenance :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{projet.jury.salleSoutenance }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                   
                    <div class="col-sm-12 text-secondary">
                      
                        <h5 align="center">Les membres du Jury de {{etudiant.compte.prenom}} {{etudiant.compte.nom}}</h5>
                      
                     <table class="table table-bordered table-striped table-hover">
                       <thead>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Role</th>
                       </thead>
                      <tbody>
                        <tr>
                          <td>{{projet.jury.presidentJury.compte.prenom}}</td>
                          <td>{{projet.jury.presidentJury.compte.nom}}</td>
                          <td>Président du Jury</td>
                        </tr>
                        <tr *ngFor="let encadreur of encadreurs">
                          <td>{{encadreur.compte.prenom }}</td>
                          <td>{{encadreur.compte.nom }}</td>
                          <td>Encadrant</td>
                        </tr>
                        <tr *ngFor="let rapporteur of rapporteurs">
                          <td>{{rapporteur.compte.prenom }}</td>
                          <td>{{rapporteur.compte.nom }}</td>
                          <td>Rapporteur</td>
                        </tr>
                      </tbody>
                      
                     </table>
                    </div>
                    <a routerLink="/jury" class="btn btn-blue " [queryParams]="{idProjet : projet._id}">Modifier le Jury</a>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
      </ng-container>
      <ng-container *ngIf="show==false">
          <div class="col-md-8">
              <div class="card mb-3">
                  <div class="card-header justify-content-center">
                      PAS ENCORE DE JURY &nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/creer-jury" class="btn btn-blue" [queryParams]="{idProjet : projet._id}">Créer Jury</a>
                  </div>
              </div>
             
          </div>
      </ng-container>
            
        </div>

      </div>
      <!--footer-->
<app-footer></app-footer>
<!-- End Footer-->
    </div>
</div>

<style>
    .contenant {
      position: relative;
      text-align: center;
      color: whitesmoke;
    }
    
    .texte_centrer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    </style>