<p>gestion-etudiants works!</p>
<div class="page">
    <div class="page-main">
      <!-- Navbar-->
      <app-header></app-header>
  
      <app-nav [inputFromParent] = "inputText"></app-nav>
  
      <div class=" app-content my-3 my-md-5">
        <div class="side-app">
          <br />
        </div>
        <div class="container justify-content-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header justify-content-center">
                        <h3 class="card-title">Liste Comptes Etudiants</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive border-top mb-0">
                            <table class="table table-bordered table-striped table-hover" id="etudiants">
                                <thead>
                                    <tr>
                                        <th>Code Permanent</th>
                                        <th>Prenom</th>
                                        <th>Nom</th>
                                        <th>Classe</th>
                                        <th>Date Naissance</th>
                                        <th>Lieu Naissance</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-primary" *ngFor="let etudiant of etudiants">
                                        <td>{{etudiant.code}}</td>
                                        <td>{{etudiant.compte.prenom}}</td>
                                        <td>{{etudiant.compte.nom}}</td>
                                        <td>{{etudiant.classe}}</td>
                                        <td>{{etudiant.dateNaissance}}</td>
                                        <td>{{etudiant.lieuNaissance}}</td>
                                        <td>
                                            <a *ngIf="etudiant.compte.isBlocked==false" class="btn btn-danger btn-sm text-white mb-2" (click)="bloquer(etudiant.compte._id)"><i class="fas fa-lock"> bloquer</i></a>&nbsp;&nbsp;
                                            <a *ngIf="etudiant.compte.isBlocked==true" class="btn btn-success btn-sm text-white mb-2" (click)="debloquer(etudiant.compte._id)"><i class="fas fa-lock-open"> debloquer</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  
      </div>
    </div>
  </div>
  <!--footer-->
  <app-footer></app-footer>
  <!-- End Footer-->
  