<div class="page">
  <div class="page-main">
    <!-- Navbar-->
    <app-header></app-header>

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
    
      </div>
      <ul class="side-menu">
          <li class="slide">
              <a class="side-menu__item active" data-toggle="slide" routerLink="/home"><i
                      class="side-menu__icon fas fa-home"></i><span class="side-menu__label">Acceuil</span></a>
    
          </li>
          <div *ngIf="profil==='ETUDIANT'">
          <li>
              <a class="side-menu__item " data-toggle="slide" routerLink="/projet"><i
                      class="side-menu__icon fas fa-folder"></i><span class="side-menu__label">Mon Projet</span></a>
          </li>
       
          <li class="slide">
              <a class="side-menu__item " data-toggle="slide" routerLink="/download-rapport"><i
                      class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger Rapports
                  </span></a>
          </li>
          <li class="slide">
            <a class="side-menu__item " data-toggle="slide" routerLink="/download-autorisation"><i
                    class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
                    autorisation</span></a>
        </li>
        <li class="slide">
          <a class="side-menu__item" data-toggle="slide" routerLink="/upload-memoire"><i
                  class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger
                  Mémoire</span></a>
      </li>
      <li class="slide">
        <a class="side-menu__item" data-toggle="slide" routerLink="/upload-demande-autorisation"><i
                class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger Demande<br />
                autorisation</span></a>
    </li>
        </div>
        <div *ngIf="profil==='PROF'">
          <li class="slide">
            <a
              class="side-menu__item "
              data-toggle="slide"
              routerLink="/creer-projet"
              ><i class="side-menu__icon fas fa-file-download"></i
              ><span class="side-menu__label">Créer Projet</span></a
            >
          </li>
          <li class="slide">
              <a class="side-menu__item " data-toggle="slide" routerLink="/download-memoire"><i
                      class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
                      Memoire</span></a>
          </li>
          
          <li class="slide">
              <a class="side-menu__item " data-toggle="slide" routerLink="/download-demande-autorisation"><i
                      class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
                      Demandes<br />
                      autorisation</span></a>
          </li>
    
         
          <li class="slide">
              <a class="side-menu__item " data-toggle="slide" routerLink="/upload-rapport"><i
                      class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger
                      Rapport</span></a>
          </li>
          <li class="slide">
              <a class="side-menu__item " data-toggle="slide" routerLink="/upload-autorisation"><i
                      class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger
                      Autorisation</span></a>
          </li>
          
          <li class="slide">
              <a class="side-menu__item " data-toggle="slide" routerLink="/ajout-rapporteur"><i
                      class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Ajout
                      Rapporteur</span></a>
          </li>
        </div>
    
      </ul>
    </aside>
    <!--side-menu-->

    <div class=" app-content my-3 my-md-5">
      <div class="side-app">
        <br />
      </div>
      <div class="container">
        <div class="main-body">
          <div class="row d-flex justify-content-center">
            <div class="col-xl-6 ">
              <div class="card bg-success">
                <div class="card-body">
                  <div class="success-box">
                    <i class="si si-emotsmile"></i>
                    <h4>Bienvenue !</h4>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">

              <div class="card">

                <div class="card-body">

                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../../../assets/images/avatar.jpeg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{compte.prenom }} {{compte.nom}}</h4>
                      <p class="text-secondary mb-1">{{compte.profil }}</p>
                      <p class="text-muted font-size-sm">Université Alioune Diop de Bambey</p>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom Complet</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{compte.prenom }} {{compte.nom}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{compte.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Téléphone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{compte.numTel }}
                    </div>
                  </div>
                  <div *ngIf="profil==='PROF'">
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Spécialité</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{specialite }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="profil==='ETUDIANT'">
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Classe</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{classe }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Date de Naissance</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{dateNaissance }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Lieu de Naissance</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{lieuNaissance }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->
<!-- Back to top -->
<a routerLink="/home" id="back-to-top" style="display: inline;"><i class="fas fa-angle-up"></i></a>