
<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>
<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">

    <div class="custompage">
      <div class="custom-content mt-0">
        <div class="row">
          <div class="col-lg-12 d-block mx-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="justify-content-center">
                <h3 class="text-center">Créer un compte Professeur</h3>
              </div>
                <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="inputClasse">Spécialié</label>
                          <div class="input-group">
                            <select aria-label="Default select example" id="specialite" formControlName="specialite" class="form-control" 
                            [ngClass]="{
                              'is-invalid': submitted && f['specialite'].errors
                            }" required>
                              <option selected value="" disabled>
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --- Selectionner une spécialité ---
                              </option>
                              <option value="RESP-FORM">DIRECTEUR D'UFR</option>
                              <option value="DIRECTEUR">RESPONSABLE DE FORMATION</option>
                              <option value="SIMPLE">SIMPLE</option>
                            </select>
                            <div *ngIf="submitted && f['specialite'].errors" class="input-group mb-3 invalid-feedback">
                              <div *ngIf="f['specialite'].errors['required']">
                                Veuillez choisir une spécialité
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputNom">Nom</label>
                      <input type="text" formControlName="nom" class="form-control" placeholder="" autocomplete="nom"
                        [ngClass]="{
                          'is-invalid': submitted && f['nom'].errors
                        }" required />
                      <div *ngIf="submitted && f['nom'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['nom'].errors['required']">
                          veuillez saisir votre nom
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPrenom">Prenom</label>
                      <input type="text" formControlName="prenom" class="form-control" placeholder=""
                        autocomplete="prenom" [ngClass]="{
                          'is-invalid': submitted && f['prenom'].errors
                        }" required />
                      <div *ngIf="submitted && f['prenom'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['prenom'].errors['required']">
                          veuillez saisir votre prenom
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" formControlName="email" class="form-control" placeholder="exemple@email.com"
                        autocomplete="email" [ngClass]="{
                          'is-invalid': submitted && f['email'].errors
                        }" required />
                      <div *ngIf="submitted && f['email'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                          veuillez saisir votre email
                        </div>
                        <div *ngIf="f['email'].errors['email']">
                          votre email est invalide
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputNumTel">Numèro de Télèphone</label>
                      <input type="text" formControlName="numTel" class="form-control" placeholder="7[0-6-5-7-8]0000000"
                        autocomplete="numTel" [ngClass]="{
                          'is-invalid': submitted && f['numTel'].errors 
                        }" required />
                      <div *ngIf="submitted && f['numTel'] && f['numTel'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['numTel'].errors['required']">
                          veuillez saisir votre numero de telephone
                        </div>
                       
                        <div *ngIf="f['numTel'].errors['pattern']">
                            le format du numéro est invalide
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Mot de pass</label>
                      <input type="password" id="password1" formControlName="password" class="form-control"
                        placeholder="" autocomplete="new-password" [ngClass]="{
                          'is-invalid': submitted && f['confirmPassword'].errors
                        }" required />
                      <div *ngIf="submitted && f['password'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">
                          veuillez saisir votre mot de passe
                        </div>
                        <div *ngIf="f['password'].errors['minlength']">
                          Mot de passe inferieur à 6 caractères
                        </div>
                        
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Confirmer le mot de pass</label>
                      <input type="password" id="password2" formControlName="confirmPassword" class="form-control"
                        placeholder="" autocomplete="new-password" [ngClass]="{
                          'is-invalid': submitted && f['confirmPassword'].errors
                        }" required />
                      <div *ngIf="submitted && f['confirmPassword'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">
                          veuillez confirmer votre mot de passe
                        </div>
                        <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                          veuillez saisir des mots de passe identiques
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-blue">
                      Enregistrer</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger">Annuler</button>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->