<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>

<div class=" app-content my-3 my-md-5">
    <div class="side-app">
    </div><br>
    <div class=" container justify-content-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header justify-content-center"> Gestion Rapporteurs</div>
                    <div class="card-body">
                      <div class="form-group row">
                        <div class="col-md-12">

                        <table class="table table-bordered table-striped table-hover" id="projet">
                        <thead>
                          <tr>
                            <th>Etudiant</th>
                            <th>Projet</th>
                            <th>Encadreur</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let projet of allProjets">
                            <td>{{projet.etudiant.compte.prenom ?? "NA"}} {{projet.etudiant.compte.nom ?? "NA"}}</td>
                            <td>{{ projet.sujet ?? "NA"}}</td>
                            <td>{{projet.encadreur.compte.prenom ?? "NA"}} {{projet.encadreur.compte.nom ?? "NA"}}</td>
                            <td><a routerLink="/rapporteurs" class="btn btn-blue" [queryParams]="{id : projet._id}">Gèrer les rapporteurs</a></td>
                          </tr>
                        </tbody>
                      </table>
                     
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
            
  
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->