<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent]="inputText"></app-nav>

<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">
    <div class="row mr-5 ml-5">
      <div class="card m-5 p-3">
        <div class="card-body">
          <div align="center">LISTE DES ETUDIANTS EN SYSTEMES D'INFORMATION</div>
          <table
            class="table table-bordered table-striped table-hover"
            id="etudiantsSI"
          >
            <thead>
              <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Lieu de Naissace</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let etudiant of allEtudiantsSI">
                <td>{{ etudiant.compte.prenom ?? "NA" }}</td>
                <td>{{ etudiant.compte.nom ?? "NA"}}</td>
                <td>{{ etudiant.dateNaissance ?? "NA"}}</td>
                <td>{{ etudiant.lieuNaissance ?? "NA"}}</td>
                <td>
                  <a
                    routerLink="/dossier"
                    [queryParams]="{ idEtudiant: etudiant._id }"
                    class="btn btn-pill btn-info"
                  >
                    Voir Dossier</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row mr-5 ml-5">
      <div class="card m-5 p-3">
        <div class="card-body">
          <div align="center">LISTE DES ETUDIANTS EN SYSTEMES ET RESEAUX</div>
          <table
            class="table table-bordered table-striped table-hover"
            id="etudiantsSR"
          >
            <thead>
              <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Lieu de Naissace</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let etudiant of allEtudiantsSR">
                <td>{{ etudiant.compte.prenom ?? "NA"}}</td>
                <td>{{ etudiant.compte.nom ?? "NA"}}</td>
                <td>{{ etudiant.dateNaissance ?? "NA"}}</td>
                <td>{{ etudiant.lieuNaissance ?? "NA"}}</td>
                <td>
                  <a
                    routerLink="/dossier"
                    [queryParams]="{ idEtudiant: etudiant._id }"
                    class="btn btn-pill btn-info"
                  >
                  Voir Dossier</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->
