<!-- Navbar-->
<app-header></app-header>

<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"></div>
  <ul class="side-menu">
    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" routerLink="/home"
        ><i class="side-menu__icon fas fa-home"></i
        ><span class="side-menu__label">Acceuil</span></a
      >
    </li>
    <div *ngIf="profil === 'ETUDIANT'">
      <li>
        <a class="side-menu__item" data-toggle="slide" routerLink="/projet"
          ><i class="side-menu__icon fas fa-folder"></i
          ><span class="side-menu__label">Mon Projet</span></a
        >
      </li>

      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/download-rapport"
          ><i class="side-menu__icon fas fa-file-download"></i
          ><span class="side-menu__label">Télécharger Rapports </span></a
        >
      </li>
      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/download-autorisation"
          ><i class="side-menu__icon fas fa-file-download"></i
          ><span class="side-menu__label">Télécharger autorisation</span></a
        >
      </li>
      <li class="slide">
        <a
          class="side-menu__item active"
          data-toggle="slide"
          routerLink="/upload-memoire"
          ><i class="side-menu__icon fas fa-file-import"></i
          ><span class="side-menu__label">Charger Mémoire</span></a
        >
      </li>
      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/upload-demande-autorisation"
          ><i class="side-menu__icon fas fa-file-import"></i
          ><span class="side-menu__label"
            >Charger Demande<br />
            autorisation</span
          ></a
        >
      </li>
    </div>
    <div *ngIf="profil === 'PROF'">
      <li class="slide">
        <a
          class="side-menu__item "
          data-toggle="slide"
          routerLink="/liste-etudiants"
          ><i class="side-menu__icon fas fa-file-download"></i
          ><span class="side-menu__label">Créer Projet</span></a
        >
      </li>
      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/download-memoire"
          ><i class="side-menu__icon fas fa-file-download"></i
          ><span class="side-menu__label">Télécharger Memoire</span></a
        >
      </li>
      <li class="slide">
        <a class="side-menu__item " data-toggle="slide" routerLink="/excel-etudiant"><i
                class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Excel Etudiants</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/excel-prof"><i
              class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Excel Professeurs</span></a>
  </li>

      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/download-demande-autorisation"
          ><i class="side-menu__icon fas fa-file-download"></i
          ><span class="side-menu__label"
            >Télécharger Demandes<br />
            autorisation</span
          ></a
        >
      </li>

      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/upload-rapport"
          ><i class="side-menu__icon fas fa-file-import"></i
          ><span class="side-menu__label">Charger Rapport</span></a
        >
      </li>
      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/upload-autorisation"
          ><i class="side-menu__icon fas fa-file-import"></i
          ><span class="side-menu__label">Charger Autorisation</span></a
        >
      </li>

      <li class="slide">
        <a
          class="side-menu__item"
          data-toggle="slide"
          routerLink="/ajout-rapporteur"
          ><i class="side-menu__icon fas fa-file-import"></i
          ><span class="side-menu__label">Ajout Rapporteur</span></a
        >
      </li>
    </div>
  </ul>
</aside>

<style>
  .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
      background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 50;
    width: 100% !important;
  }

  .files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
      background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    border: 1px solid #92b0b3;
  }

  .files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .color input {
    background-color: #f1f1f1;
  }

  .files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " GLISSEZ VOTRE FICHIER ICI ";
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
</style>

<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6">
        <form
          [formGroup]="uploadMemoireForm"
          (ngSubmit)="envoyer()"
          enctype="multipart/form-data"
        >
          <div class="form-group files color">
            <h2>Charger votre memoire</h2>
            <input
              type="file"
              formControlName="image"
              class="form-control"
              (change)="onChange($event)"
            />
          </div>
          <div class="form-group files color" hidden>
            <h2>Hidden</h2>
            <input type="text" formControlName="hide" class="form-control" />
          </div>
          <div>
            <button type="submit" class="btn btn-primary px-4">
              Soumettre
            </button>
          </div>
        </form>
      </div>
    </div>
    <p style="color: greenyellow">
      <br />
      {{ messageGood }}
    </p>
  <p style="color: red">
    <br />
    {{ messageBad }}
  </p>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->
