<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>

<div class="app-content my-3 my-md-5">
    <div class="side-app">
      <br />
    </div>
    <div class="container justify-content-center">

        <div class="row">
            <div class="col-lg-8">
                <form  method="post" class="card" [formGroup]="NoteForm" (ngSubmit)="onSubmit()">
                    <div class="card-header justify-content-center">
                        <h3 class="card-title">Attribution de Note</h3>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <div class="form-group">
                                <label>Etudiant</label>
                                <select aria-label="Default select example" formControlName="etudiant" class="form-control" 
                                (change)="onChangeProjet($event)" [ngClass]="{
                                  'is-invalid': f['etudiant'].errors && (f['etudiant'].dirty || f['etudiant'].touched)
                                }" required>
                                    <option  value="" selected disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      -- Veuillez selectionner l'étudiant --
                                    </option>
                                    <ng-container *ngFor="let projet of allProjets" >
                                      <option  *ngIf="((!projet.note)&&(projet.jury)&&(projet.jury.presidentJury._id==idProf))" value="{{ projet._id }}">{{ projet.etudiant.compte.prenom }} {{ projet.etudiant.compte.nom }}({{ projet.sujet }})</option>
                                    </ng-container>
                                  </select>
                                  <div *ngIf=" f['etudiant'].errors && (f['etudiant'].dirty || f['etudiant'].touched)" class="input-group mb-3 invalid-feedback">
                                    <div *ngIf="f['etudiant'].errors['required']">
                                      Veuillez choisir un étudiant
                                    </div>
                                  </div>
                            </div>
                                <div class="form-group">
                                    <label class="form-label">Valeur</label>
                                    <input type="text" (input)="inputValidator($event)" class="form-control" formControlName="valeur" name="example-text-input" placeholder="Donner la note"
                                    [ngClass]="{
                                        'is-invalid': f['valeur'].errors && (f['valeur'].dirty || f['valeur'].touched)
                                      }" required>
                                      <div *ngIf=" f['valeur'].errors && (f['valeur'].dirty || f['valeur'].touched)" class="input-group mb-3 invalid-feedback">
                                        <div *ngIf="f['valeur'].errors['required']">
                                          Veuillez saisir la note
                                        </div>
                                        <div *ngIf="f['valeur'].errors['pattern']">
                                          Le format de note est invalide
                                        </div>
                                      </div>
                                </div>
                              
                                <div class="form-group">
                                    <label class="form-label">Mention </label>
                                    <select aria-label="Default select example" id="mention" formControlName="mention" class="form-control" 
                                    [ngClass]="{
                                      'is-invalid': f['mention'].errors && (f['mention'].dirty || f['mention'].touched)
                                    }" required>
                                      <option selected value="" disabled>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --- Selectionner La mention ---
                                      </option>
                                      <option value="Insuffisant">INSUFFISANT</option>
                                      <option value="Passable">PASSABLE</option>
                                      <option value="A.bien">ASSEZ BIEN</option>
                                      <option value="bien">BIEN</option>
                                      <option value="T.bien">TRES BIEN</option>
                                      <option value="Excellent">EXCELLENT</option>
                                    </select>
                                    <div *ngIf=" f['mention'].errors && (f['mention'].dirty || f['mention'].touched)" class="input-group mb-3 invalid-feedback">
                                      <div *ngIf="f['mention'].errors['required']">
                                        Veuillez choisir une mention
                                      </div>
                                    </div>
                                </div>
                                
                                <br/>
                                <div class="col-lg-6 text-center">
                                    <button type="submit" [disabled]="!NoteForm.valid" class="btn btn-block btn-blue">Enregistrer
                                    </button>
                                </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="row mr-5 ml-5">
          <div class="card m-5 p-3">
            <div class="card-body">
              <div align="center">LISTE DES PROJETS AVEC DEJA UNE NOTE</div>
              <table class="table   table-bordered table-striped table-hover" id="projets">
                <thead>
                  <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Projet</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let projet of allProjets" >
                  <tr *ngIf="((projet.jury)&&(projet.jury.presidentJury._id==idProf)&&(!(projet.note==null)))" >
                    <td>{{ projet.etudiant.compte.prenom }} </td>
                    <td>{{ projet.etudiant.compte.nom }}</td>
                    <td>{{ projet.sujet }}</td>
                    <td><a class="btn btn-pill btn-info" routerLink="/pv-soutenance" [queryParams]="{idProjet : projet._id}">Créer PV</a></td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
    </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->

