<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>

<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">

<div class="row">
    <div class="col-lg-12">
        <form  method="post" class="card" [formGroup]="JuryForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
              <a routerLink="/dossier" [queryParams]="{idEtudiant : projet.etudiant._id}"><i class="fas fa-arrow-left fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <h3 class="card-title">Création de Jury pour {{projet.etudiant.compte.prenom}} {{projet.etudiant.compte.nom}} Master {{projet.etudiant.classe}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label">Batiment</label>
                            <input type="text" class="form-control" formControlName="batiment" name="example-text-input" placeholder="Entrer le nom du batiment de la soutenance"
                            [ngClass]="{
                                'is-invalid': f['batiment'].errors && (f['batiment'].dirty || f['batiment'].touched)
                              }" required>
                              <div *ngIf=" f['batiment'].errors && (f['batiment'].dirty || f['batiment'].touched)" class="input-group mb-3 invalid-feedback">
                                <div *ngIf="f['batiment'].errors['required']">
                                  Veuillez saisir le nom du batiment de ce jury
                                </div>
                              </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="form-label">Salle de Soutenance </label>
                            <input type="text" class="form-control" formControlName="salleSoutenance"  placeholder="Donner le nom de la salle de soutenance " 
                            [ngClass]="{
                              'is-invalid': f['salleSoutenance'].errors && (f['salleSoutenance'].dirty || f['salleSoutenance'].touched)
                            }" required>
                            <div *ngIf="f['salleSoutenance'].errors && (f['salleSoutenance'].dirty || f['salleSoutenance'].touched)" class="input-group mb-3 invalid-feedback">
                              <div *ngIf="f['salleSoutenance'].errors['required']">
                                Veuillez entrer le nom de la salle de soutenance de ce jury
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Numéro du jury</label>
                            <input type="text" (input)="inputValidator($event)" class="form-control" formControlName="numJury" name="example-text-input" placeholder="Entrer le numero du jury"
                            [ngClass]="{
                                'is-invalid': f['numJury'].errors && (f['numJury'].dirty || f['numJury'].touched)
                              }" required>
                              <div *ngIf=" f['numJury'].errors && (f['numJury'].dirty || f['numJury'].touched)" class="input-group mb-3 invalid-feedback">
                                <div *ngIf="f['numJury'].errors['required']">
                                  Veuillez saisir le numero du jury
                                </div>
                                <div *ngIf="f['numJury'].errors['pattern']">
                                  le format du numéro est invalide
                                </div> 
                              </div>
                        </div>
                       
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Président du jury</label>
                            <select aria-label="Default select example" formControlName="president" class="form-control" 
                            [ngClass]="{
                              'is-invalid': f['president'].errors && (f['president'].dirty || f['president'].touched)
                            }" required>
                                <option value="" selected disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  -- Veuillez selectionner le Président du jury --
                                </option>
                                <ng-container *ngFor="let prof of allProfs" >
                                  <option *ngIf="((!(encadreurs.includes(prof._id)))&&(!(rapporteurs.includes(prof._id))))" value="{{ prof._id }}">{{ prof.compte.prenom }} {{ prof.compte.nom }}</option>
                                </ng-container>
                              </select>
                              <div *ngIf=" f['president'].errors && (f['president'].dirty || f['president'].touched)" class="input-group mb-3 invalid-feedback">
                                <div *ngIf="f['president'].errors['required']">
                                  Veuillez choisir le Président du Jury
                                </div>
                              </div>
                        </div>
                        <div class="form-group">
                           
                        </div>
                        <div class="form-group">
                           
                        </div>
                        
                       
                      
                    </div>
                    
                </div>
                <br/>
                    <div class="col-lg-6 justify-content-center">
                        <button *ngIf="test" [disabled]="!JuryForm.valid" type="submit" class="btn btn-block btn-blue" >Créer le Jury
                        </button>
                      </div>
            </div>
        </form>
    </div>
</div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->

