<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>

<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">

<div class="row">
    <div class="col-lg-6">
        <form  method="post" class="card mb-3" [formGroup]="ModifProjetForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
                <a routerLink="/projet"><i class="fas fa-arrow-left fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h3 class="card-title">Modification du projet </h3>
            </div>
            <div class="card-body ">
                
                    <div class="">
                        <div class="form-group">
                            <label class="form-label">Sujet</label>
                            <input type="text" class="form-control" formControlName="sujet" name="example-text-input" placeholder="Entrer le nom du projet"
                                    [ngClass]="{
                                        'is-invalid': f['sujet'].errors && (f['sujet'].dirty || f['sujet'].touched)
                                      }" required>
                                      <div *ngIf=" f['sujet'].errors && (f['sujet'].dirty || f['sujet'].touched)" class="input-group mb-3 invalid-feedback">
                                        <div *ngIf="f['sujet'].errors['required']">
                                          Veuillez saisir le sujet
                                        </div>
                                      </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="form-label">Description </label>
                            <textarea class="form-control" formControlName="description" rows="4" placeholder="Donner la description du projet " 
                                    [ngClass]="{
                                      'is-invalid': f['description'].errors && (f['description'].dirty || f['description'].touched)
                                    }" required></textarea>
                                    <div *ngIf=" f['description'].errors && (f['description'].dirty || f['description'].touched)" class="input-group mb-3 invalid-feedback">
                                      <div *ngIf="f['description'].errors['required']">
                                        Veuillez entrer une description du sujet
                                      </div>
                                    </div>
                        </div>
                        
                        <br/>
                        <div class="text-center">
                            <button type="submit" [disabled]="!ModifProjetForm.valid" class="btn btn-block btn-blue">
                             Valider
                            </button>
                          </div>
                    </div>
                    
              
                
            </div>
        </form>
    </div>
</div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->

