<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText" ></app-nav>

<div class="app-content my-3 my-md-5">
    <div class="side-app">
      <br />
    </div>
    <div class="container justify-content-center">

        <div class="row">
            <div class="col-lg-12">
                <form  method="post" class="card" [formGroup]="RapportForm" (ngSubmit)="onSubmit()">
                    <div class="card-header justify-content-center">
                        <h3 class="card-title">Création de Rapport</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Etudiants Rapportés </label>
                                    <select aria-label="Default select example" formControlName="etudiant" class="form-control" 
                                    [ngClass]="{
                                      'is-invalid': f['etudiant'].errors && (f['etudiant'].dirty || f['etudiant'].touched)
                                    }" required>
                                        <option value="" selected disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          -- Veuillez selectionner l'étudiant --
                                        </option>
                                        <ng-container *ngFor="let projet of allProjets" >
                                          <option *ngIf="projet.rapporteur.includes(idProf)" value="{{ projet.etudiant._id }}">{{ projet.etudiant.compte.prenom }} {{ projet.etudiant.compte.nom }}</option>
                                        </ng-container>
                                      </select>
                                      <div *ngIf=" f['etudiant'].errors && (f['etudiant'].dirty || f['etudiant'].touched)" class="input-group mb-3 invalid-feedback">
                                        <div *ngIf="f['etudiant'].errors['required']">
                                          Veuillez choisir le Président du Jury
                                        </div>
                                      </div>
                                </div>
                              
                            </div>

                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Résumé</label>
                                    <textarea class="form-control" formControlName="resume" rows="5" placeholder="Donner le résumé du Rapport " 
                                    [ngClass]="{
                                      'is-invalid': f['resume'].errors && (f['resume'].dirty || f['resume'].touched)
                                    }" required></textarea>
                                    <div *ngIf=" f['resume'].errors && (f['resume'].dirty || f['resume'].touched)" class="input-group mb-3 invalid-feedback">
                                      <div *ngIf="f['resume'].errors['required']">
                                        Veuillez entrer une description du sujet
                                      </div>
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <label class="form-label">Remarque sur le fond </label>
                                    <textarea class="form-control" formControlName="remarqueFond" rows="5" placeholder="Donner la Remarque sur le fond " 
                                    [ngClass]="{
                                      'is-invalid':  f['remarqueFond'].errors && (f['remarqueFond'].dirty || f['remarqueFond'].touched)
                                    }" required></textarea>
                                    <div *ngIf=" f['remarqueFond'].errors && (f['remarqueFond'].dirty || f['remarqueFond'].touched)" class="input-group mb-3 invalid-feedback">
                                      <div *ngIf="f['remarqueFond'].errors['required']">
                                        Veuillez entrer une description du sujet
                                      </div>
                                    </div>
                                </div>
                            </div>   

                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Remarque sur la forme </label>
                                    <textarea class="form-control" formControlName="remarqueForme" rows="5" placeholder="Donner la Remarque sur la forme" 
                                    [ngClass]="{
                                      'is-invalid':  f['remarqueForme'].errors && (f['remarqueForme'].dirty || f['remarqueForme'].touched)
                                    }" required></textarea>
                                    <div *ngIf=" f['remarqueForme'].errors && (f['remarqueForme'].dirty || f['remarqueForme'].touched)" class="input-group mb-3 invalid-feedback">
                                      <div *ngIf="f['remarqueForme'].errors['required']">
                                        Veuillez entrer une description du sujet
                                      </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Conclusion</label>
                                    <textarea class="form-control" formControlName="conclusion" rows="5" placeholder="Donner la conclusion " 
                                    [ngClass]="{
                                      'is-invalid': f['conclusion'].errors && (f['conclusion'].dirty || f['conclusion'].touched)
                                    }" required></textarea>
                                    <div *ngIf=" f['conclusion'].errors && (f['conclusion'].dirty || f['conclusion'].touched)" class="input-group mb-3 invalid-feedback">
                                      <div *ngIf="f['conclusion'].errors['required']">
                                        Veuillez entrer une description du sujet
                                      </div>
                                    </div>
                                </div>
                            </div>

                                <br/>
                                <div class="text-center">
                                    <button [disabled]="!RapportForm.valid" type="submit" class="btn btn-block btn-blue">
                                    Génèrer le Rapport
                                    </button>
                                </div>
                            
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>

    </div>
    <ng-container *ngIf="test==true">
        <app-creer-rapport [resume]=resume [fond]=fond [forme]=forme [conclusion]=conclusion [idEtudiant]=idEtudiant></app-creer-rapport>
    </ng-container>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->

