 <!-- Sidebar menu-->
 <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
 <aside class="app-sidebar">
   <div class="app-sidebar__user">
 
   </div>
   <ul class="side-menu">
       <li class="slide">
           <a class="side-menu__item {{home}}" data-toggle="slide" routerLink="/home"><i
                   class="side-menu__icon fas fa-home fa-lg"></i><span class="side-menu__label">Acceuil</span></a>
 
       </li>
       <div *ngIf="profil==='ETUDIANT'">
         <ng-container *ngIf="afficheProjet==true">
          <li>
            <a class="side-menu__item {{projet}}" data-toggle="slide" routerLink="/projet"><i
                    class="side-menu__icon fas fa-folder fa-lg"></i><span class="side-menu__label">Mon Projet</span></a>
        </li>
        <li class="slide">
          <a class="side-menu__item {{encadreur}}" data-toggle="slide" routerLink="/encadreurs"><i
                  class="side-menu__icon fas fa-tasks fa-lg"></i><span class="side-menu__label">Gestion
                  Encadreurs</span></a>
      </li>
      <li class="slide">
        <a class="side-menu__item {{uploadMemoire}}" data-toggle="slide" routerLink="/upload-memoire"><i
                class="side-menu__icon fas fa-file-import fa-lg"></i><span class="side-menu__label">Charger
                Mémoire</span></a>
    </li>
      <li class="slide">
        <a class="side-menu__item {{demandeAutorisation}}" data-toggle="slide" routerLink="/demande-autorisation"><i
                class="side-menu__icon fas fa-file-pdf fa-lg"></i><span class="side-menu__label">Demande
                autorisation</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item {{uploadDemandeAutorisation}}" data-toggle="slide" routerLink="/upload-demande-autorisation"><i
              class="side-menu__icon fas fa-file-import fa-lg"></i><span class="side-menu__label"> Charger<br> Demande
              autorisation</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item {{uploadCertificat}}" data-toggle="slide" routerLink="/upload-certificat"><i
              class="side-menu__icon fas fa-file-import fa-lg"></i><span class="side-menu__label">Charger<br>
              Certificat d'inscription</span></a>
    </li>
         </ng-container>
         <ng-container *ngIf="afficheProjet==false">
          <li class="slide">
            <a
              class="side-menu__item {{respForm}}"
              data-toggle="slide"
              routerLink="/creer-projet"
              ><i class="side-menu__icon fas fa-plus fa-lg"></i
              ><span class="side-menu__label">Créer Projet</span></a
            >
          </li>
         </ng-container>
    
   
     </div>
     <div *ngIf="profil==='PROF'">
      <div *ngIf="specialite==='DIRECTEUR'">
        <li class="slide">
          <a
            class="side-menu__item {{dossier}}"
            data-toggle="slide"
            routerLink="/etudiants"
            ><i class="side-menu__icon fas fa-folder fa-lg"></i
            ><span class="side-menu__label">Dossiers Etudiants</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item {{uploadDecisionPfe}}" data-toggle="slide" routerLink="/upload-decision-pfe"><i
                  class="side-menu__icon fas fa-file-import fa-lg"></i><span class="side-menu__label">Charger Decision<br>
                  Commision PFE</span></a>
      </li>
      </div>

       <div *ngIf="specialite==='RESP-FORM'">
        
        <li class="slide">
          <a
            class="side-menu__item {{dossier}}"
            data-toggle="slide"
            routerLink="/etudiants"
            ><i class="side-menu__icon fas fa-folder fa-lg"></i
            ><span class="side-menu__label">Dossiers Etudiants</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item {{desComPfe}}" data-toggle="slide" routerLink="/liste-projets"><i
                  class="side-menu__icon fas fa-file-pdf fa-lg"></i><span class="side-menu__label">Décision Comission<br>
                  des PFE</span></a>
      </li>
        
   
       </div>
     
       <li class="slide">
           <a class="side-menu__item {{uploadRapport}}" data-toggle="slide" routerLink="/upload-rapport"><i
                   class="side-menu__icon fas fa-file-import fa-lg"></i><span class="side-menu__label">Charger
                   Rapport</span></a>
       </li>
       <li class="slide">
        <a class="side-menu__item {{pvSoutenance}}" data-toggle="slide" routerLink="/note"><i
                class="side-menu__icon fas fa-tasks fa-lg"></i><span class="side-menu__label">Soutencance
                </span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item {{article}}" data-toggle="slide" routerLink="/article"><i
              class="side-menu__icon fas fa-newspaper fa-lg"></i><span class="side-menu__label">Mes
              Articles</span></a>
  </li>
     </div>
     <div *ngIf="specialite==='ADMIN'">
      <li class="slide">
        <a class="side-menu__item {{excelEtudiant}}" data-toggle="slide" routerLink="/excel-etudiant"><i
                class="side-menu__icon fas fa-file-excel fa-lg"></i><span class="side-menu__label">Excel Etudiants</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item {{excelProf}}" data-toggle="slide" routerLink="/excel-prof"><i
              class="side-menu__icon fas fa-file-excel fa-lg"></i><span class="side-menu__label">Excel Professeurs</span></a>
  </li>
  <li class="slide">
    <a class="side-menu__item {{registerEtudiant}}" data-toggle="slide" routerLink="/register"><i
            class="side-menu__icon fas fa-user-plus fa-lg"></i><span class="side-menu__label">&nbsp;Register Etudiant</span></a>
  </li>
  <li class="slide">
    <a class="side-menu__item {{registerProf}}" data-toggle="slide" routerLink="/register-prof"><i
            class="side-menu__icon fas fa-user-plus fa-lg"></i><span class="side-menu__label">&nbsp;Register Professeur</span></a>
  </li>
  <li class="slide">
    <a class="side-menu__item {{memoireFini}}" data-toggle="slide" routerLink="/upload-memoire-fini"><i
            class="side-menu__icon fas fa-file-import fa-lg"></i><span class="side-menu__label">Charger
            Mémoires<br> Soutenus</span></a>
</li>
     </div>
 
   </ul>
 </aside>
 <!--side-menu-->