
<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>
<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">

    <div class="custompage">
      <div class="custom-content mt-0">
        <div class="row">
          <div class="col-lg-12 d-block mx-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="justify-content-center">
                <h3 class="text-center">Créer un compte Etudiant</h3>
              </div>
                <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputNom">Nom</label>
                      <input type="text" formControlName="nom" class="form-control" placeholder="" autocomplete="nom"
                        [ngClass]="{
                          'is-invalid': f['nom'].errors && (f['nom'].dirty || f['nom'].touched)
                        }" required  />
                      <div *ngIf=" f['nom'].errors && (f['nom'].dirty || f['nom'].touched)" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['nom'].errors['required']">
                          veuillez saisir votre nom
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPrenom">Prenom</label>
                      <input type="text" formControlName="prenom" class="form-control" placeholder=""
                        autocomplete="prenom" [ngClass]="{
                          'is-invalid':f['prenom'].errors && (f['prenom'].dirty || f['prenom'].touched)
                        }" required />
                      <div *ngIf=" f['prenom'].errors && (f['prenom'].dirty || f['prenom'].touched)" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['prenom'].errors['required']">
                          veuillez saisir votre prenom
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputClasse">Classe</label>
                      <div class="input-group">
                        <select aria-label="Default select example" id="classe" formControlName="classe" class="form-control" 
                        [ngClass]="{
                          'is-invalid': f['classe'].errors && (f['classe'].dirty || f['classe'].touched)
                        }" required>
                          <option selected value="" disabled>
                            &nbsp;&nbsp;--- Selectionner une classe ---
                          </option>
                          <option value="SI">Systèmes d'Information</option>
                          <option value="SR">Systèmes et Réseaux</option>
                        </select>
                        <div *ngIf=" f['classe'].errors && (f['classe'].dirty || f['classe'].touched)" class="input-group mb-3 invalid-feedback">
                          <div *ngIf="f['classe'].errors['required']">
                            Veuillez choisir une classe
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputCode">Code Permanent</label>
                      <input type="text" (input)="inputValidator($event)" class="form-control" formControlName="code" placeholder=""
                        autocomplete="code" [ngClass]="{
                          'is-invalid': f['code'].errors && (f['code'].dirty || f['code'].touched)
                        }" required />
                        <div *ngIf="f['code'].errors && (f['code'].dirty || f['code'].touched)" class="input-group mb-3 invalid-feedback">
                          <div *ngIf="f['code'].errors['required']">
                            veuillez saisir votre code permanent
                          </div>
                          <div *ngIf="f['code'].errors['pattern']">
                             Code permanent invalide
                          </div>
                        </div>
                    </div>
                  </div>
                  
                
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Date Naissance</label>
                        <div class="input-group">
                          <input type="date" class="form-control fc-datepicker hasDatepicker"
                            formControlName="dateNaissance" autocomplete="dateNaissance" [ngClass]="{
                              'is-invalid': f['dateNaissance'].errors && (f['dateNaissance'].dirty || f['dateNaissance'].touched)
                            }" required/>
                            <div *ngIf=" f['dateNaissance'].errors && (f['dateNaissance'].dirty || f['dateNaissance'].touched)" class="input-group mb-3 invalid-feedback">
                              <div *ngIf="f['dateNaissance'].errors['required']">
                                veuillez saisir votre date de Naissance
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="inputLieuNaissance">Lieu Naissance</label>
                        <input type="text" class="form-control" formControlName="lieuNaissance" placeholder=""
                          autocomplete="lieuNaissance" [ngClass]="{
                            'is-invalid': f['lieuNaissance'].errors && (f['lieuNaissance'].dirty || f['lieuNaissance'].touched)
                          }" required />
                          <div *ngIf=" f['lieuNaissance'].errors && (f['lieuNaissance'].dirty || f['lieuNaissance'].touched)" class="input-group mb-3 invalid-feedback">
                            <div *ngIf="f['lieuNaissance'].errors['required']">
                              veuillez saisir votre lieu de naissance
                            </div>
                          </div>
                      </div>

                      

                    </div>
                  
                  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" formControlName="email" class="form-control" placeholder="exemple@email.com"
                        autocomplete="email" [ngClass]="{
                          'is-invalid': f['email'].errors && (f['email'].dirty || f['email'].touched)
                        }" required />
                      <div *ngIf=" f['email'].errors && (f['email'].dirty || f['email'].touched)" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                          veuillez saisir votre email
                        </div>
                        <div *ngIf="f['email'].errors['email']">
                          votre email est invalide
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputNumTel">Numèro de Télèphone</label>
                      <div class="d-flex">
                      <select aria-label="Default select example" formControlName="indicatif" class="form-control  col-md-3">
                        <option selected value="77" > 77 </option>
                        <option value="78">78</option>
                        <option value="70">70</option>
                        <option value="76">76</option>
                        <option value="75">75</option>
                        <option value="33">33</option>
                      </select>&nbsp;
                      <input type="text" (input)="inputValidator($event)"  formControlName="numTel" class="form-control col-md-9" placeholder="0000000"
                        autocomplete="numTel" [ngClass]="{
                          'is-invalid': f['numTel'].errors && (f['numTel'].dirty || f['numTel'].touched)
                        }" required ></div>
                      <div *ngIf=" f['numTel'] && f['numTel'].errors && (f['numTel'].dirty || f['numTel'].touched)" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['numTel'].errors['required']">
                          veuillez saisir votre numero de telephone
                        </div>
                        <div *ngIf="f['numTel'].errors['pattern']">
                          le format du numéro est invalide
                        </div>
                       
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Mot de pass</label>
                      <input type="password" id="password1" formControlName="password" class="form-control"
                        placeholder="*********" autocomplete="new-password" [ngClass]="{
                          'is-invalid': f['password'].errors && (f['password'].dirty || f['password'].touched)
                        }" required />
                      <div *ngIf=" f['password'].errors && (f['password'].dirty || f['password'].touched)" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">
                          veuillez saisir votre mot de passe
                        </div>
                        <div *ngIf="f['password'].errors['minlength']">
                          Mot de passe inferieur à 6 caractères
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Confirmer le mot de pass</label>
                      <input type="password" id="password2" formControlName="confirmPassword" class="form-control"
                        placeholder="" autocomplete="new-password" [ngClass]="{
                          'is-invalid': f['confirmPassword'].errors && (f['confirmPassword'].dirty || f['confirmPassword'].touched)
                        }" required />
                      <div *ngIf=" f['confirmPassword'].errors && (f['confirmPassword'].dirty || f['confirmPassword'].touched)" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">
                          veuillez confirmer votre mot de passe
                        </div>
                        <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                          veuillez saisir des mots de passe identiques
                        </div>
                      </div> 
                    </div>
                  </div>

                  <div class="text-center">
                    <button [disabled]="!RegisterForm.valid" type="submit"  class="btn btn-blue">
                      Enregistrer</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger">Annuler</button>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->