<div class="login-img bg-gradient-dark">
  <div class="page">
    <div class="custompage">
      <div class="custom-content mt-0">
        <div class="row">
          <div class="col-lg-8 d-block mx-auto">
            <div class="row">
              <div class="col-md-12">
                <img src="../../../assets/images/brand/logo1.png" class="header-brand-img mb-2 mt-2 mt-lg-0"
                  alt="logo" />
                <h3 class="text-center">Créer un compte</h3>
                <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                  <label for="inputNom">Profil</label>
                  <div class="input-group">
                    <select aria-label="Default select example" id="profil" formControlName="profil"
                      class="form-control" (change)="onChangeProfil($event)" [ngClass]="{
                        'is-invalid': submitted && f['profil'].errors
                      }" required>
                      <option value="" disabled>
                        -- Veuillez selectionner un profil --
                      </option>
                      <option value="ETUDIANT">Etudiant</option>
                      <option value="PROF">Professeur</option>
                    </select>
                    <div *ngIf="submitted && f['profil'].errors" class="input-group mb-3 invalid-feedback">
                      <div *ngIf="f['profil'].errors['required']">
                        Veuillez choisir un profil
                      </div>
                    </div>
                  </div>
                  <div class="choix" *ngIf="profil !== 'PROF'">
                    <label for="inputClasse">Classe</label>
                  <div class="input-group">
                    <select aria-label="Default select example" id="classe" formControlName="classe" class="form-control" 
                    [ngClass]="{
                      'is-invalid': submitted && f['classe'].errors
                    }" required>
                      <option value="" disabled>
                        -- Veuillez selectionner une classe --
                      </option>
                      <option value="SI">Systèmes d'Information</option>
                      <option value="SR">Systèmes et Réseaux</option>
                    </select>
                    <div *ngIf="submitted && f['classe'].errors" class="input-group mb-3 invalid-feedback">
                      <div *ngIf="f['classe'].errors['required']">
                        Veuillez choisir une classe
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="choix" *ngIf="profil == 'PROF'">
                    <label for="inputSpecialite">Spécialité</label>
                  <div class="input-group">
                    <select aria-label="Default select example" id="specialite" formControlName="specialite" class="form-control" 
                    [ngClass]="{
                      'is-invalid': submitted && f['specialite'].errors
                    }" required>
                      <option value="" disabled>
                        -- Veuillez selectionner une spécialité --
                      </option>
                      <option value="SIMPLE">Professeur simple</option>
                      <option value="RESP-FORM">Responsable de formation</option>
                      <option value="DIRECTEUR">Directeur d'UFR</option>
                    </select>
                    <div *ngIf="submitted && f['specialite'].errors" class="input-group mb-3 invalid-feedback">
                      <div *ngIf="f['specialite'].errors['required']">
                        Veuillez choisir une spécialité
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputNom">Nom</label>
                      <input type="text" formControlName="nom" class="form-control" placeholder="" autocomplete="nom"
                        [ngClass]="{
                          'is-invalid': submitted && f['nom'].errors
                        }" required />
                      <div *ngIf="submitted && f['nom'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['nom'].errors['required']">
                          veuillez saisir votre nom
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPrenom">Prenom</label>
                      <input type="text" formControlName="prenom" class="form-control" placeholder=""
                        autocomplete="prenom" [ngClass]="{
                          'is-invalid': submitted && f['prenom'].errors
                        }" required />
                      <div *ngIf="submitted && f['prenom'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['prenom'].errors['required']">
                          veuillez saisir votre prenom
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="choix" *ngIf="profil !== 'PROF'">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Date Naissance</label>
                        <div class="input-group">
                          <input type="date" class="form-control fc-datepicker hasDatepicker"
                            formControlName="dateNaissance" autocomplete="dateNaissance" [ngClass]="{
                              'is-invalid': submitted && f['dateNaissance'].errors
                            }" required/>
                            <div *ngIf="submitted && f['dateNaissance'].errors" class="input-group mb-3 invalid-feedback">
                              <div *ngIf="f['dateNaissance'].errors['required']">
                                veuillez saisir votre date de Naissance
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="inputLieuNaissance">Lieu Naissance</label>
                        <input type="text" class="form-control" formControlName="lieuNaissance" placeholder=""
                          autocomplete="lieuNaissance" [ngClass]="{
                            'is-invalid': submitted && f['lieuNaissance'].errors
                          }" required />
                          <div *ngIf="submitted && f['lieuNaissance'].errors" class="input-group mb-3 invalid-feedback">
                            <div *ngIf="f['lieuNaissance'].errors['required']">
                              veuillez saisir votre lieu de naissance
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" formControlName="email" class="form-control" placeholder=""
                        autocomplete="email" [ngClass]="{
                          'is-invalid': submitted && f['email'].errors
                        }" required />
                      <div *ngIf="submitted && f['email'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                          veuillez saisir votre email
                        </div>
                        <div *ngIf="f['email'].errors['maxLength']">
                          votre email est invalide
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputNumTel">Numèro de Télèphone</label>
                      <input type="number" formControlName="numTel" class="form-control" placeholder=""
                        autocomplete="numTel" [ngClass]="{
                          'is-invalid': submitted && f['numTel'].errors
                        }" required />
                      <div *ngIf="submitted && f['numTel'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['numTel'].errors['required']">
                          veuillez saisir votre numero de telephone
                        </div>
                        <div *ngIf="f['numTel'].errors['maxLength']">
                          la longueur est superieur à 9 chiffres
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Mot de pass</label>
                      <input type="password" id="password1" formControlName="password" class="form-control"
                        placeholder="" autocomplete="new-password" [ngClass]="{
                          'is-invalid': submitted && f['confirmPassword'].errors
                        }" required />
                      <div *ngIf="submitted && f['password'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">
                          veuillez saisir votre mot de passe
                        </div>
                        <div *ngIf="f['password'].errors['minLength']">
                          Mot de passe inferieur à 6
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Confirmer le mot de pass</label>
                      <input type="password" id="password2" formControlName="confirmPassword" class="form-control"
                        placeholder="" autocomplete="new-password" [ngClass]="{
                          'is-invalid': submitted && f['confirmPassword'].errors
                        }" required />
                      <div *ngIf="submitted && f['confirmPassword'].errors" class="input-group mb-3 invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">
                          veuillez confirmer votre mot de passe
                        </div>
                        <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                          veuillez saisir des mots de passe identiques
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-blue">
                      S'inscrire</button>&nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger">Annuler</button>
                  </div>
                </form>
                <div class="text-center text-muted mt-3">
                  Avez vous déja un compte?
                  <a routerLink="/login">Se connecter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>