<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>



<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6">
        <form
          [formGroup]="uploadExcelForm"
          (ngSubmit)="envoyer()"
          enctype="multipart/form-data"
        >
          <div class="form-group ">
            <h2>Charger le fichier Excel pour la création des comptes étudiants</h2>
                <input type="file" formControlName="image" class="form-control form-control-lg" (change)="onChange($event)">
          </div>
          <div>
            <button type="submit" class="btn btn-primary px-4">
              Soumettre
            </button>
          </div>
        </form>
      </div>
    </div>
    <p style="color: greenyellow">
        <br />
        {{ messageGood }}
      </p>
    <p style="color: red">
      <br />
      {{ messageBad }}
    </p>

    <div class="row mr-5 ml-5">
      <div class="card m-5 p-3">
        <div class="card-body">
          <div align="center">Nouveaux Etudiants Enregistrés</div>
          <table class="table table-bordered table-striped table-hover" >
            <thead>
              <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Lieu de Naissace</th>
                <th>classe</th>
              </tr>
            </thead>
            <tbody *ngFor="let etudiant of data">
              <tr >
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.dateNaissance }}</td>
                <td>{{ etudiant.lieuNaissance }}</td>
                <td>{{ etudiant.classe }}</td>
              </tr>
            </tbody>
          </table>
        </div>      
      </div>
    </div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->
