<!-- Navbar-->
<app-header></app-header>

<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">

  </div>
  <ul class="side-menu">
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/home"><i class="side-menu__icon fas fa-home"></i><span
          class="side-menu__label">Acceuil</span></a>

    </li>
    <li>
      <a class="side-menu__item " data-toggle="slide" routerLink="/projet"><i
          class="side-menu__icon fas fa-folder"></i><span class="side-menu__label">Mon Projet</span></a>
    </li>

    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/download-rapport"><i
          class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger Rapports
          </span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/download-memoire"><i
          class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger Memoire</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item active" data-toggle="slide" routerLink="/download-autorisation"><i
          class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
          autorisation</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/download-demande-autorisation"><i
          class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger Demandes<br/>
          autorisation</span></a>
    </li>

    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" routerLink="/upload-memoire"><i
          class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger Mémoire</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/upload-rapport"><i
          class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger Rapport</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/upload-autorisation"><i
          class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger Autorisation</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" routerLink="/upload-demande-autorisation"><i
          class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger Demande<br />
          autorisation</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item " data-toggle="slide" routerLink="/ajout-rapporteur"><i
              class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Ajout
              Rapporteur</span></a>
  </li>
    

  </ul>
</aside>



<div class=" app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class=" container justify-content-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Autorisations</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let autorisation of allAutorisations">

                <tr>
                  <td>{{autorisation.nomFichier}}</td>
                  <td><a (click)="onSubmit(autorisation._id)"> <button type="submit"
                        class="btn btn-primary px-3">Telecharger</button></a>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>


<!--side-menu-->

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->