<!-- Navbar-->
<app-header></app-header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">

  </div>
  <ul class="side-menu">
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/home"><i
                  class="side-menu__icon fas fa-home"></i><span class="side-menu__label">Acceuil</span></a>

      </li>
      <div *ngIf="profil==='ETUDIANT'">
      <li>
          <a class="side-menu__item active" data-toggle="slide" routerLink="/projet"><i
                  class="side-menu__icon fas fa-folder"></i><span class="side-menu__label">Mon Projet</span></a>
      </li>
   
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/download-rapport"><i
                  class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger Rapports
              </span></a>
      </li>
      <li class="slide">
        <a class="side-menu__item " data-toggle="slide" routerLink="/download-autorisation"><i
                class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
                autorisation</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" routerLink="/upload-memoire"><i
              class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger
              Mémoire</span></a>
  </li>
  <li class="slide">
    <a class="side-menu__item" data-toggle="slide" routerLink="/upload-demande-autorisation"><i
            class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger Demande<br />
            autorisation</span></a>
</li>
    </div>
    <div *ngIf="profil==='PROF'">
      <li class="slide">
        <a
          class="side-menu__item "
          data-toggle="slide"
          routerLink="/creer-projet"
          ><i class="side-menu__icon fas fa-file-download"></i
          ><span class="side-menu__label">Créer Projet</span></a
        >
      </li>
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/download-memoire"><i
                  class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
                  Memoire</span></a>
      </li>
      
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/download-demande-autorisation"><i
                  class="side-menu__icon fas fa-file-download"></i><span class="side-menu__label">Télécharger
                  Demandes<br />
                  autorisation</span></a>
      </li>

     
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/upload-rapport"><i
                  class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger
                  Rapport</span></a>
      </li>
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/upload-autorisation"><i
                  class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Charger
                  Autorisation</span></a>
      </li>
      
      <li class="slide">
          <a class="side-menu__item " data-toggle="slide" routerLink="/ajout-rapporteur"><i
                  class="side-menu__icon fas fa-file-import"></i><span class="side-menu__label">Ajout
                  Rapporteur</span></a>
      </li>
    </div>

  </ul>
</aside>
<!--side-menu-->


<div class=" app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class=" container justify-content-center">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Sujet :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.sujet }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Description :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.description }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Etat :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.etat }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Encadreur :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.encadreur.compte.prenom }}  {{projet.encadreur.compte.nom }}
            </div>
          </div>
          <div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date de début :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{projet.date_debut }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date fin :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{projet.date_fin }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <app-footer></app-footer>
  <!-- End Footer-->
</div>



<!-- Back to top -->
<a routerLink="/projet" id="back-to-top" style="display: inline"><i class="fas fa-angle-up"></i></a>