<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>


<div class=" app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class=" container justify-content-center">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Sujet :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.sujet }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Description :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.description }}
            </div>
          </div>
        
             <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Etat :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.etat }}
            </div>
          </div>
        
         
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Encadreurs :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <ng-container *ngFor="let encadreur of encadreurs">
                {{encadreur.compte.prenom }}  {{encadreur.compte.nom }},
              </ng-container>
             
            </div>
          </div>
          <div>
            <ng-container *ngIf="!projet.jury">
              <hr>
            <div class="row" style="float: right;">
              <div class="col-sm-12">
                <a routerLink="/modif-projet">
                <button type="submit" class="btn btn-block btn-blue">
                  Modifier
                 </button>
                </a>
              </div>
              
            </div>
            </ng-container>
            
          
          </div>
        </div>
        
      </div>
    </div>
    <ng-container *ngIf="show==true">
      <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">NumJury :</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{projet.jury.numJury }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Batiment :</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{projet.jury.batiment }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Salle Soutenance :</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{projet.jury.salleSoutenance }}
                </div>
              </div>
              <hr>
              <div class="row">
              
                <div class="col-sm-12 text-secondary">
                  
                    <h5 align="center">Les membres du Jury de {{etudiant.compte.prenom}} {{etudiant.compte.nom}}</h5>
                  
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Role</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{projet.jury.presidentJury.compte.prenom}}</td>
                      <td>{{projet.jury.presidentJury.compte.nom}}</td>
                      <td>Président du Jury</td>
                    </tr>
                    <tr *ngFor="let encadreur of encadreurs">
                      <td>{{encadreur.compte.prenom }}</td>
                      <td>{{encadreur.compte.nom }}</td>
                      <td>Encadrant</td>
                    </tr>
                    <tr *ngFor="let rapporteur of rapporteurs">
                      <td></td>
                      <td></td>
                      <td>Rapporteur</td>
                    </tr>
                  </tbody>
                  
                </table>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
    <ng-container *ngIf="show==false">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header justify-content-center">
                    PAS ENCORE DE JURY
                </div>
            </div>
          
        </div>
    </ng-container>
  </div>
 
</div>

 <!--footer-->
 <app-footer></app-footer>
 <!-- End Footer-->

<!-- Back to top -->