<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>


<div class=" app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class=" container justify-content-center">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Sujet :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.sujet }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Description :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.description }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Etat :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.etat }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Encadreur :</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{projet.encadreur.compte.prenom }}  {{projet.encadreur.compte.nom }}
            </div>
          </div>
          <div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <a routerLink="/modif-projet">
                <button type="submit" class="btn btn-block btn-blue">
                  Modifier
                 </button>
                </a>
              </div>
              
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <app-footer></app-footer>
  <!-- End Footer-->
</div>



<!-- Back to top -->
<a routerLink="/projet" id="back-to-top" style="display: inline"><i class="fas fa-angle-up"></i></a>