<div class="app sidebar-mini rtl">
  <div class="page">
    <div class="page-main">
      <!-- Navbar-->
      <header class="header">
        <!-- Navbar Right Menu-->
        <div class="container-fluid">
          <div class="d-flex">
            <a class="header-brand" routerLink="/acceuil">
              <img alt="logo" width="150" src="../../../assets/images/brand/logo1.png" />
            </a>
            <div class="d-flex ml-auto">
              <p align="center">
                UNIVERSITE ALIOUNE DIOP DE BAMBEY<br />
                UFR SATIC - DEPARTEMENT TIC
              </p>
            </div>
            <!-- Sidebar toggle button-->

            <div class="d-flex order-lg-2 ml-auto">
              <div *ngIf="!profil">
                <a routerLink="/login">
                  <button type="button" class="btn bg-gradient">
                    <i class="fe fe-plus mr-2 text-black"></i>Se connecter
                  </button></a>
              </div>
              <div *ngIf="profil">

                <div class="dropdown">
                  <a class="nav-link pr-0 leading-none d-flex" data-toggle="dropdown" href="#">
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-dark"><strong>{{prenom }} {{nom}}</strong></span>
                    </span>&nbsp;
                    <span class="avatar avatar-md brround"
                      style="background-image: url(../../../assets/images/avatar.jpeg)"></span>
                    
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" routerLink="/home"><i class="dropdown-icon fe fe-user"></i> Mon Espace</a>
                    <div class="dropdown-divider"></div>
                    <!-- 
                      <a class="dropdown-item" href="#"><i class="dropdown-icon fe fe-mail"></i> Mes messages</a>
                      <div class="dropdown-divider"></div>
                    -->
                    
                    <a class="dropdown-item" href="#" (click)="deconnexion()"><i class="dropdown-icon fe fe-power"></i>
                      Déconnection</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="page-header">
        <img src="../../../assets/images/banniere.jpg">
      </div>

      <!--side-menu-->
      <div class="row mr-5 ml-5">
        <div class="col-md-12">
          <div class="card">
            <div class="">
              <div class="row no-gutters">
                <div class="col-lg-3 col-md-6 border-right">
                  <div class="card-body text-center">
                    <div class="dash3">
                      <h5 class="text-muted">Mémoires</h5>
                      <h4 class="counter text-primary">{{nbmemoire}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 border-right">
                  <div class="card-body text-center">
                    <div class="dash3">
                      <h5 class="text-muted">Nombre de téléchargements Mémoires </h5>
                      <h4 class="counter text-danger">0</h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 border-right">
                  <div class="card-body text-center">
                    <div class="dash3">
                      <h5 class="text-muted">Articles</h5>
                      <h4 class="counter text-success">{{nbarticle}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 border-right">
                  <div class="card-body text-center">
                    <div class="dash3">
                      <h5 class="text-muted">Nombre de téléchargements Articles</h5>
                      <h4 class="counter text-info">0</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row mr-5 ml-5">
        <div class="card m-5 p-3">
          <div class="card-body">
            <div align="center">LA LISTE DES MEMOIRES</div>
            <table class="table table-bordered table-striped table-hover" id="memoire">
              <thead>
                <tr>
                  <th>Sujet</th>
                  <th>Description</th>
                  <th>Etudiant</th>
                  <th>Profs Encadreurs</th>
                  <th>Action</th>
                  <th><i class="fas fa-download"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let memoire of allMemoiresFinis">
                  <td>{{ memoire.sujet }}</td>
                  <td>{{ memoire.description }}</td>
                  <td>{{ memoire.etudiant }}</td>
                  <td>{{ memoire.encadreur }}</td>
                  <td><a  (click)="onSubmit(memoire.url);changerNbTelMemoirefini(memoire._id,memoire.nbTelechargement)" class="btn btn-pill btn-info"><i class="fas fa-file-download"></i>Télécharger</a></td>
                  <td class="h3 justify-content-center counter text-warning">{{memoire.nbTelechargement}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>


      <div class="row mr-5 ml-5">
        <div class="card m-5 p-3">
          <div class="card-body">
            <div align="center">LA LISTE DES ARTICLES</div>
            <table class="table table-bordered table-striped table-hover" id="article">
              <thead>
                <tr>
                  <th>Sujet</th>
                  <th>Description</th>
                  <th>Professeur</th>
                  <th>Action</th>
                  <th><i class="fas fa-download"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let article of allArticles" >
                  <td>{{ article.sujet }} </td>
                  <td>{{ article.description }}</td>
                  <td>{{ article.professeur.compte.prenom }} {{ article.professeur.compte.nom }}</td>
                  <td><a (click)="onSubmit(article.url);changerNbTelArticle(article._id,article.nbTelechargement)" class="btn btn-pill btn-info"><i class="fas fa-file-download"></i>Télécharger</a></td>
                  <td class="h3 justify-content-center counter text-warning">{{article.nbTelechargement}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>


      <!--footer-->
      <app-footer></app-footer>
      <!-- End Footer-->
    </div>

    <!-- Back to top -->
    <a href="#top" id="back-to-top" style="display: inline"><i class="fas fa-angle-up"></i></a>
  </div>

 