<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>



<div class="app-content my-3 my-md-5">
  <div class="side-app">
    <br />
  </div>
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      
    </div>

    <div class="row">
        <div class="col-lg-8">
            <form  method="post" class="card" enctype="multipart/form-data" [formGroup]="uploadMemoireFiniForm" (ngSubmit)="envoyer()">
                <div class="card-header justify-content-center">
                    <h3 class="card-title">Chargement de mémoire soutenu</h3>
                </div>
                <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Nom Complet Etudiant</label>
                                <input type="text" class="form-control" formControlName="etudiant" name="example-text-input" placeholder="Entrer le nom de l'étudiant"
                                [ngClass]="{
                                    'is-invalid':  f['etudiant'].errors && (f['etudiant'].dirty || f['etudiant'].touched)
                                  }" required>
                                  <div *ngIf=" f['etudiant'].errors && (f['etudiant'].dirty || f['etudiant'].touched)" class="input-group mb-3 invalid-feedback">
                                    <div *ngIf="f['etudiant'].errors['required']">
                                      Veuillez saisir le nom de l'étudiant
                                    </div>
                                  </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Noms Encadreurs </label>
                                <input type="text" class="form-control" formControlName="encadreur" name="example-text-input" placeholder="Veuillez séparer le nom des encadreurs par une virgule"
                                [ngClass]="{
                                    'is-invalid': f['encadreur'].errors && (f['encadreur'].dirty || f['encadreur'].touched)
                                  }" required>
                                  <div *ngIf=" f['encadreur'].errors && (f['encadreur'].dirty || f['encadreur'].touched)" class="input-group mb-3 invalid-feedback">
                                    <div *ngIf="f['encadreur'].errors['required']">
                                      Veuillez saisir les noms des encadreurs
                                    </div>
                                  </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Sujet</label>
                                <input type="text" class="form-control" formControlName="sujet" name="example-text-input" placeholder="Entrer le nom du projet"
                                [ngClass]="{
                                    'is-invalid': f['sujet'].errors && (f['sujet'].dirty || f['sujet'].touched)
                                  }" required>
                                  <div *ngIf=" f['sujet'].errors && (f['sujet'].dirty || f['sujet'].touched)" class="input-group mb-3 invalid-feedback">
                                    <div *ngIf="f['sujet'].errors['required']">
                                      Veuillez saisir le sujet
                                    </div>
                                  </div>
                            </div>
                          
                            <div class="form-group">
                                <label class="form-label">Description </label>
                                <textarea class="form-control" formControlName="description" rows="4" placeholder="Donner la description de l'article " 
                                [ngClass]="{
                                  'is-invalid': f['description'].errors && (f['description'].dirty || f['description'].touched)
                                }" required></textarea>
                                <div *ngIf=" f['description'].errors && (f['description'].dirty || f['description'].touched)" class="input-group mb-3 invalid-feedback">
                                  <div *ngIf="f['description'].errors['required']">
                                    Veuillez entrer une description du sujet
                                  </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <input type="file" accept=".pdf" formControlName="image" class="form-control form-control-lg" (change)="onChange($event)"
                                [ngClass]="{
                                    'is-invalid': f['image'].errors && (f['image'].dirty || f['image'].touched)
                                  }" required>
                                  <div *ngIf="f['image'].errors && (f['image'].dirty || f['image'].touched)" class="input-group mb-3 invalid-feedback">
                                    <div *ngIf="f['image'].errors['required']">
                                      Veuillez choisir un fichier
                                    </div>
                                  </div>
                            </div>
                            
                            <br/>
                            <div class="text-center">
                                <button [disabled]="!uploadMemoireFiniForm.valid" type="submit" class="btn btn-block btn-blue">
                                Enregistrer
                                </button>
                            </div>
                        
                    
                    
                </div>
            </form>
        </div>

    </div>
    <marquee vspace="40" direction="up" scrolldelay="500" style="color: red;">Veuillez vérifier le nom de votre fichier avant de le charger !!!</marquee>   


  </div>
</div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->
