<!-- Navbar-->
<app-header></app-header>

<app-nav [inputFromParent] = "inputText"></app-nav>

<div class=" app-content my-3 my-md-5">
    <div class="side-app">
    </div><br>
    <div class=" container justify-content-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header justify-content-center"> DECISION COMMISSION DES PFE (Projets avec mémoire soumis) </div>
                    <div class="card-body">
                      <div class="form-group row">
                        <div class="col-md-12">

                        <table class="table table-bordered table-striped table-hover" id="projet">
                        <thead>
                          <tr>
                            <th>Etudiant</th>
                            <th>Projet</th>
                            <th>Encadreurs</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container  *ngFor="let projet of allProjets">
                            <tr *ngIf="projet.memoire">
                              <td>{{projet.etudiant.compte.prenom ?? "NA"}} {{projet.etudiant.compte.nom ?? "NA"}}</td>
                              <td>{{ projet.sujet ?? "NA"}}</td>
                                <td> <ng-container *ngFor="let encadreur of projet.encadreur"> {{encadreur.compte.prenom ?? "NA"}} {{encadreur.compte.nom ?? "NA"}},</ng-container></td>
                              <td><a routerLink="/des-com-pfe" class="btn btn-blue" [queryParams]="{idProjet : projet._id}">Gèrer</a></td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                     
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
            
  
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>

<!--footer-->
<app-footer></app-footer>
<!-- End Footer-->